/*переменные*/
:root {
  --link-button-blue-color: #2196f3;
  --moz-background-hero-foter-color: #2f303a;
  --heading-text-color: #212121;
  --text-color: #757575;
  --button-background-color: #f5f4fa;
}

/*общие стили*/
body {
  font-family: "Roboto", sans-serif;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

/*header*/

.logo {
  color: var(--link-button-blue-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo-hed {
  color: #000000;
}

.link-nav.current {
  color: var(--link-button-blue-color);
}

.link-nav {
  color: var(--heading-text-color);
  outline: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.link-nav:hover,
.link-nav:focus {
  color: var(--link-button-blue-color);
}

.link-header {
  color: var(--text-color);
  outline: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.link-header:hover,
.link-header:focus {
  color: var(--link-button-blue-color);
}

.header-nav,
.nav-list,
.contacts-list {
  display: flex;
}

.header-nav {
  justify-content: space-between;
  align-items: center;
  padding: 24px 15px 25px 15px;
}

.nav-list li {
  margin-left: 50px;
}

.contacts-list {
  margin-left: 331px;
}

.contacts-list li:not(:last-child) {
  margin-right: 50px;
}

/*studio-main*/

.hero .container {
  background-color: var(--moz-background-hero-foter-color);
  height: 600px;
}

.hero h1 {
  color: #ffffff;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;

  display: flex;
  justify-content: center;
  padding-top: 200px;
  padding-left: 250px;
  padding-right: 250px;
}

.hero-link {
  color: #ffffff;
  background-color: var(--link-button-blue-color);

  font-weight: bold;
  font-size: 16px;
  line-height: 1.85;
  letter-spacing: 0.06em;
  text-align: center;

  border-radius: 4%;
  padding: 10px 32px;
  margin-top: 30px;
  margin-left: 484px;
  margin-right: 484px;
  display: flex;
  justify-content: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features-list {
  display: flex;
  justify-content: space-between;
  padding-top: 94px;
  padding-bottom: 94px;
}

.features .list-head {
  color: var(--heading-text-color);

  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.features .list-text {
  color: var(--text-color);

  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  margin-top: 10px;
}

.direction .container {
  margin-bottom: 94px;
}

.direction-head {
  color: var(--heading-text-color);

  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  padding-bottom: 50px;
}

.direction-list {
  display: flex;
  justify-content: space-between;
}

.team .container {
  background-color: var(--button-background-color);
}

.team-head {
  color: var(--heading-text-color);

  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;

  padding-top: 94px;
}

.team-list {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 94px;
}

.team-name {
  color: var(--heading-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

.team-text {
  color: var(--text-color);

  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

/*portfolio*/

.button {
  border-radius: 4px;
  border: none;
  color: var(--heading-text-color);
  background-color: #f5f4fa;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;

  padding: 6px 22px;
}

.button:hover,
.button:focus {
  background-color: var(--link-button-blue-color);
  color: #ffffff;
}

.list-button {
  display: flex;
  justify-content: center;

  padding-top: 94px;
}

.list-button li:not(:last-child) {
  margin-right: 8px;
}

.work-list {
  margin-top: 50px;
  margin-bottom: 90px;

  flex-basis: calc(100% / 3);

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.work-list li {
  margin-top: 30px;
}

.work-head {
  color: var(--heading-text-color);

  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.work-text {
  color: var(--text-color);

  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

.work-container {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}

/*footer*/

.footer {
  background-color: var(--moz-background-hero-foter-color);
  padding-top: 60px;
}

.logo-fot {
  color: #ffffff;
}

.fot-add {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.address-list {
  margin-top: 20px;
  padding-bottom: 60px;
}

.add-maps {
  color: #ffffff;
  padding-bottom: 9px;
}

.add-link {
  color: rgba(255, 255, 255, 0.6);
  padding-bottom: 9px;
}
